html {
  /* color vars*/
  --main-text-color: #055b5a;

  /* fsz vars*/
  --default-text-size: 14px;
  --h2-text-size: 18px;

  /* structure vars*/
  --pc-contents-size: 580px;
  --sp-contents-size: 100%;
}

/* structure */
body {
  font-family: "Shippori Mincho", serif;
  color: var(--main-text-color);
  line-height: 1.6;
  font-size: var(--default-text-size);
}

a {
  color: var(--main-text-color);
  font-size: var(--default-text-size);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}

.document-wrapper {
  background: linear-gradient(10deg, #eaded4, #49ada8);
  background-size: 200% 200%;
  animation: gradient 30s ease infinite;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.document-wrapper:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.2;
  background-image: url("./assets/images/wave.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

main {
  padding: 0 20px;
}

main > section {
  width: var(--pc-contents-size);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

main > section * {
  position: relative;
  z-index: 1;
}

main > section:after {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
}

main > section h2 {
  font-size: var(--h2-text-size);
  margin-bottom: 30px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(29, 68, 66, 0.3);
}

main > section .text p {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* structure */

/* header */
header.global-header {
  position: fixed;
  padding: 15px;
  z-index: 9999;
}

header.global-header a.logo {
  display: block;
  width: 280px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
}

header.global-header nav {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 15px;
  padding-left: 20px;
}

header.global-header nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header.global-header nav a {
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

header.global-header nav a:hover {
  color: #49ada8;
}

/* header */

/* footer */
footer {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}
/* footer */

/* fv */
div.fv {
  width: 100%;
  height: 100vh;
}

div.fv figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.fv figure img {
  height: 90vh;
  object-fit: contain;
  object-position: center;
}
/* fv */

/* story */
section.story:after {
  width: 200px;
  height: 200px;
  background-image: url("../images/bg_sheep.png");
  left: -250px;
  bottom: -30px;
}
section.story .lead {
  padding-bottom: 150px;
  font-size: 150%;
  text-align: center;
  line-height: 2;
}

section.story .lead p span {
  font-size: 110%;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

section.story .lead p:nth-of-type(1) {
  text-indent: -3em;
}

section.story .lead p:nth-of-type(2) {
  text-indent: 3em;
}

section.story p.name {
  margin-top: 30px;
  text-align: center;
}
/* story */

/* cast */
section.cast .text {
  display: flex;
  justify-content: center;
}

section.cast .text p {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

section.cast .text p span {
  display: block;
  font-size: 11px;
}
/* cast */

/* schedule */
section.schedule:after {
  width: 100px;
  height: 300px;
  background-image: url("../images/bg_wing.png");
  right: -200px;
  top: 20px;
  transform: rotate(20deg);
}
section.schedule .text ul {
  font-size: var(--default-text-size);
}
/* schedule */

section.ticket:after {
  width: 150px;
  height: 300px;
  background-image: url("../images/bg_gentle.png");
  right: -100px;
  bottom: -50px;
}

/* place */
section.place:after {
  width: 150px;
  height: 300px;
  background-image: url("../images/bg_lady.png");
  left: -150px;
  top: 200px;
}

section.place .wrap {
  display: flex;
  justify-content: space-between;
}

section.place .wrap .text {
  flex-shrink: 0;
  margin-right: 30px;
}

section.place .covid {
  background-color: #eaeaea;
  padding: 20px;
  margin-top: 50px;
}

section.place .covid h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

section.place .covid p {
  margin-bottom: 15px;
}

section.place .covid ul {
  margin-bottom: 15px;
}

section.place .covid ul li.title {
  font-weight: bold;
}

section.place .covid ul li {
  text-indent: -1em;
  padding-left: 1em;
}

/* place */

/* staff */
section.staff:after {
  width: 150px;
  height: 300px;
  background-image: url("../images/bg_balance.png");
  right: 0px;
  bottom: -200px;
}

section.staff dl {
  display: flex;
}

section.staff dl dt {
  min-width: 110px;
  margin-right: 10px;
}
/* staff */

@media (min-width: 801px) {
  br.sm-only {
    display: none;
  }
}

@media (max-width: 800px) {
  br.lg-only {
    display: none;
  }
  main > section {
    width: var(--sp-contents-size);
  }

  header.global-header {
    width: 100%;
  }

  header.global-header button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  header.global-header button:before,
  header.global-header button:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--main-text-color);
    position: absolute;
    transition-duration: 0.2s;
    will-change: transform;
    transition-property: transform, background-color;
  }

  header.global-header button:before {
    top: 10px;
  }
  header.global-header button:after {
    bottom: 10px;
  }

  header.global-header button.open:before {
    top: 50%;
    transform: rotate(30deg);
    background-color: #eaded4;
  }
  header.global-header button.open:after {
    bottom: 50%;
    transform: rotate(-30deg);
    background-color: #eaded4;
  }

  header.global-header a.logo {
    width: 200px;
  }

  header.global-header nav {
    display: none;
    animation-name: sp-nav;
    animation-duration: 0.5s;
  }

  @keyframes sp-nav {
    0% {
      opacity: 0;
      transform: translate(-10px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  header.global-header nav.open {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 68, 66, 0.95);
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    padding: 50px;
  }

  header.global-header nav ul {
    gap: 20px;
  }

  header.global-header nav a {
    color: #eaded4;
    font-size: 16px;
  }

  section.story .lead {
    font-size: 105%;
    padding-bottom: 150px;
  }

  section.story .lead p {
    white-space: nowrap;
  }

  section.story .lead p:nth-of-type(1) {
    text-indent: -0.5em;
  }

  section.story .lead p:nth-of-type(2) {
    text-indent: 0.5em;
  }

  section.place .wrap {
    display: block;
  }

  section.place .wrap .text {
    margin-right: 0;
  }

  /* cast */

  section.cast .text p {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
  }

  section.cast .text p span {
    display: block;
    font-size: 10px;
  }
  /* cast */

  section.place h3 {
    font-size: 14px;
    font-weight: bold;
  }

  section.story:after {
    width: 140px;
    height: 140px;
    left: 0px;
    bottom: -70px;
  }

  section.schedule:after {
    width: 50px;
    height: 160px;
    right: 0px;
    top: 30px;
    transform: rotate(20deg);
  }
  section.ticket:after {
    width: 120px;
    height: 200px;
    background-image: url("../images/bg_gentle.png");
    right: -10px;
    bottom: -70px;
  }
  section.place:after {
    width: 50px;
    height: 140px;
    background-image: url("../images/bg_lady.png");
    left: auto;
    top: auto;
    right: 20px;
    bottom: -70px;
  }
  section.staff:after {
    width: 120px;
    height: 120px;
    background-image: url("../images/bg_balance.png");
    right: auto;
    left: 0px;
    bottom: -50px;
  }
}
